<div class="friendly-match-score">
  <div class="teams">
    <span class="name left" [class.winner]="winner() === team1Name()">
      {{ team1Name() || 'Équipe 1' }}
    </span>
    <span class="name right" [class.winner]="winner() === team2Name()">
      {{ team2Name() || 'Équipe 2' }}
    </span>
  </div>

  <div class="scores">
    <div class="score left">
      <app-score-number
        [colorRed]="true"
        [value]="team1Score()"
        [min]="0"
        [max]="targetScore()"
        (valueChange)="team1ScoreChange.emit($event)"
      />
    </div>
    <div class="separator"></div>
    <div class="score right">
      <app-score-number
        [colorRed]="false"
        [value]="team2Score()"
        [min]="0"
        [max]="targetScore()"
        (valueChange)="team2ScoreChange.emit($event)"
      />
    </div>
  </div>

  @if (isMatchFinished() && winner()) {
    <div class="winner-information">
      <span class="winner-label">{{ winner() }} gagne !</span>
    </div>
  }
</div>
