<div class="spectator-page">
  <div class="header">
    <h1 class="tournament-name">
      <span>Tournoi : </span>
      {{ tournament()?.name ?? '—' }}
    </h1>
    <div class="tournament-info" [class.ended]="isTournamentEnded()">
      @if (tournament()) {
        @switch (tournamentStatus()) {
          @case ('DRAFT') {
            <span class="badge draft">Tounoi non démarré</span>
          }
          @case ('ACTIVE') {
            <span class="badge active">Phase : {{ tournament()!.phaseName || '' }}</span>
          }
          @case ('COMPLETED') {
            <span class="badge completed">🎉 Tounoi terminé ! 🎉</span>
          }
          @case ('CANCELLED') {
            <span class="badge cancelled">Tounoi Annulé</span>
          }
        }
      }
      @if (currentSession() && !isTournamentEnded()) {
        <span class="badge">Round : {{ currentSession()!.sessionNumber || '-' }}</span>
      }
    </div>
    @if (!isMobile()) {
      <app-switch
        class="switch"
        [checked]="autoScrollOn()"
        label="Défilement automatique"
        (checkedChange)="autoScrollOn.set($event)"
      />
    }
  </div>

  @if (error()) {
    <div class="error-container">
      <span class="message">
        <app-icon name="error" [ariaHidden]="true" />
        Tournoi introuvable.
      </span>
      <span class="description">
        Veuillez vérifier le code du tournoi ou contacter l'administrateur du tournoi pour plus
        d'informations.
      </span>
    </div>
  } @else {
    <div class="content">
      @if (!isTournamentEnded()) {
        <div class="column matches" [appAutoScroll]="autoScrollOn() && !isMobile()">
          <app-spectator-match-list [session]="currentSession()" />
        </div>
      }
      <div class="column ranking" [appAutoScroll]="autoScrollOn() && !isMobile()">
        <app-ranking-card
          [ranking]="ranking()"
          [isLoading]="isLoading()"
          [scoreCalculation]="tournament()?.scoreCalculation"
          [canCollapse]="false"
        />
      </div>
    </div>
  }
</div>
