.home-page {
  min-height: 100dvh;
  max-width: 72rem;
  margin: 0 auto;
  padding: 1.5rem 1.25rem 6.2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  --gap-value: 2rem;
  gap: var(--gap-value);

  .two-column {
    flex: 1 1 calc(50% - calc(var(--gap-value) / 2));
    @media (width < 900px) {
      flex-basis: 100%;
    }
  }

  .one-column {
    flex: 1 1 100%;
  }
}
