:host {
  display: block;
}

.rank-popup {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.8rem;
  background: var(--color-surface-container-high);
  box-shadow: 0 1rem 2.5rem var(--color-shadow-strong);

  --padding-value: 2rem;
  @media (width < 768px) {
    --padding-value: 1rem;
    gap: 1rem;
  }

  .header-row {
    display: flex;
    align-items: center;
    padding: var(--padding-value) var(--padding-value) 0;

    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0;
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--color-primary);

      .name {
        font-size: 1.6rem;
        text-transform: capitalize;
        color: var(--color-on-surface-variant);
      }
    }
  }
}

.body {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-on-surface-variant);

  ::ng-deep .card-collapsible {
    border-radius: 0;
  }
  ::ng-deep .card-collapsible .card-collapsible-header.pointer {
    cursor: auto;
  }
  ::ng-deep .card-collapsible.is-expanded .card-collapsible-content-wrapper {
    padding: 0 0 1rem;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--padding-value) var(--padding-value);

  app-button {
    min-width: max(20vw, 10rem);
  }
}
