:host {
  flex: 1 1 auto;
  display: flex;
}

.score-number {
  position: relative;
  flex: 1 1 auto;

  --border-radius: 10px;
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;

  &.disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &.color-red {
    background-color: var(--color-team-red);
  }
  &.color-blue {
    background-color: var(--color-team-blue);
  }

  .value {
    z-index: 100;
    color: var(--color-on-team);
    position: absolute;
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
  }

  .button {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    height: 9rem;

    width: 100%;
    color: color-mix(in srgb, var(--color-on-team) 10%, transparent);

    ::ng-deep .icon {
      z-index: 100;
      font-size: 8rem;
    }
  }

  .increment-button {
    align-items: flex-start;
  }
  .decrement-button {
    align-items: flex-end;
  }

  .grey-opacity {
    background-color: color-mix(in srgb, var(--color-outline) 25%, transparent);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }
}
