@if (visible()) {
  <nav class="nav-bot" aria-label="Navigation mobile">
    @for (item of items(); track item.key) {
      @if (item.children?.length) {
        <button
          type="button"
          class="item"
          [class.item--active]="item.key === activeKey()"
          [attr.aria-haspopup]="true"
          (click)="itemSelected.emit({ item, anchor: $any($event.currentTarget) })"
        >
          <app-icon [name]="item.icon!" />
          <span class="label">{{ item.label }}</span>
        </button>
      } @else {
        <a class="item" [class.item--active]="item.key === activeKey()" [routerLink]="item.route">
          <app-icon [name]="item.icon!" />
          <span class="label">{{ item.label }}</span>
        </a>
      }
    }
  </nav>
}
