<header class="hdr">
  <div class="brand" routerLink="/">
    <img class="logo" ngSrc="assets/images/palet_logo.png" width="50" height="50" />

    <h1 class="title">{{ title() }}</h1>
  </div>

  @if (showLinks()) {
    <nav class="nav" aria-label="Navigation principale">
      @for (link of links(); track link.key) {
        @if (link.children?.length) {
          <button
            type="button"
            class="link"
            [class.link--active]="link.key === activeKey()"
            [attr.aria-haspopup]="true"
            (click)="itemSelected.emit({ item: link, anchor: $any($event.currentTarget) })"
          >
            <app-icon [name]="link.icon!" />
            <span>{{ link.label }}</span>
            <app-icon name="expand_more" iconClass="chevron" [ariaHidden]="true" />
          </button>
        } @else {
          <a class="link" [class.link--active]="link.key === activeKey()" [routerLink]="link.route">
            <app-icon [name]="link.icon!" />
            <span>{{ link.label }}</span>
          </a>
        }
      }
    </nav>
  }

  <div class="actions">
    <app-button-icon
      class="icon"
      icon="notifications"
      [badge]="notificationBadge()"
      (clicked)="notificationClick.emit()"
    />

    <app-button-icon
      class="icon"
      [icon]="theme() === 'dark' ? 'light_mode' : 'dark_mode'"
      (clicked)="toggleTheme()"
    />

    <app-burger-menu [menuItem]="burgerMenuItem()" (menuClick)="burgerMenuClick.emit($event)" />
  </div>
</header>
